---
import { Image } from 'astro:assets';
import Voluntariado1 from "../assets/Voluntariado/Voluntariado-Aida_Oropeza-001.webp";
import Voluntariado2 from "../assets/Voluntariado/Voluntariado-Aida_Oropeza-002.webp";
import Voluntariado3 from "../assets/Voluntariado/Voluntariado-Aida_Oropeza-003.webp";
import Voluntariado4 from "../assets/Voluntariado/Voluntariado-Aida_Oropeza-004.webp";
import Voluntariado5 from "../assets/Voluntariado/Voluntariado-Aida_Oropeza-005.webp";
import Voluntariado6 from "../assets/Voluntariado/Voluntariado-Aida_Oropeza-006.webp";
import Voluntariado7 from "../assets/Voluntariado/Voluntariado-Aida_Oropeza-007.webp";
---
<section class="flex flex-col md:flex-row bg-[#F7F7F7]">
    <div class="md:w-[50%] px-10 py-20">
        <p class="text-purple">Mi Equipo Global en Beyond Technology </p>
        <h2 class="text-[32px] text-blue font-bold">Lo que logramos juntos para la comunidad</h1>

     <p class="text-gray pt-5">Hasta hoy hemos logrado beneficiar a 5057 personas: </p>
            <ul class="text-gray text-[16px] list-disc pl-7 pt-7">
                <li>Niños y jóvenes en situación de parálisis cerebral</li>
                <li>Adultos mayores en situación de demencia senil, parálisis cerebral y abandono</li>
                <li>Adultos en situación de pobreza</li>
                <li>Minorías y estudiantes en Pakistán </li>
                <li>Ayudamos al Banco de tapitas en México logrando cubrir el tratamiento para 11 niños con cáncer</li>
            </ul>
    </div>
    <div class="w-full md:w-[50%] justify-center flex items-center p-5">
         <!-- Carrusel -->
        <div data-carousel class="w-full h-full overflow-hidden relative" data-autoplay="4000">
            <div class="carousel-track flex transition-transform duration-500 ease-in-out">
                <Image src={Voluntariado1} alt="Imagen 1" class="rounded-3xl w-full h-auto object-contain" />
                <Image src={Voluntariado2} alt="Imagen 2" class="rounded-3xl w-full h-auto object-contain" />
                <Image src={Voluntariado3} alt="Imagen 3" class="rounded-3xl w-full h-auto object-contain" />
                <Image src={Voluntariado5} alt="Imagen 5" class="rounded-3xl w-full h-auto object-contain" />
                <Image src={Voluntariado6} alt="Imagen 6" class="rounded-3xl w-full h-auto object-contain" />
                <Image src={Voluntariado7} alt="Imagen 6" class="rounded-3xl w-full h-auto object-contain" />
            </div>
            <!-- Bullets -->
            <div class="absolute bottom-4 left-1/2 transform -translate-x-1/2 flex gap-2">
                <button data-carousel-bullet class="w-3 h-3 rounded-full bg-[#C1C5D0] cursor-pointer" aria-label="Slide 1"></button>
                <button data-carousel-bullet class="w-3 h-3 rounded-full bg-[#C1C5D0] cursor-pointer" aria-label="Slide 2"></button>
                <button data-carousel-bullet class="w-3 h-3 rounded-full bg-[#C1C5D0] cursor-pointer" aria-label="Slide 3"></button>
                <button data-carousel-bullet class="w-3 h-3 rounded-full bg-[#C1C5D0] cursor-pointer" aria-label="Slide 4"></button>
                <button data-carousel-bullet class="w-3 h-3 rounded-full bg-[#C1C5D0] cursor-pointer" aria-label="Slide 5"></button>
                <button data-carousel-bullet class="w-3 h-3 rounded-full bg-[#C1C5D0] cursor-pointer" aria-label="Slide 6"></button>
            </div>
        </div>
    </section>

    <script type="module" src="/js/carousel.js"></script>
